# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- Introduce arithmetic expression examples in Python
- Demonstrate converting minutes to hours
- Highlight key open source development environment tools used in Data Science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Matplotlib
3. Pandas

| Data Science Tools       |
|--------------------------|
| Jupyter Notebook         |
| RStudio                  |
| Apache Zeppelin          |

### Below are a few examples of evaluating arithmetic expressions in Python

1. **Addition**: `3 + 2` equals `5`
2. **Subtraction**: `7 - 4` equals `3`
3. **Multiplication**: `6 * 5` equals `30`
4. **Division**: `8 / 2` equals `4.0`
5. **Exponentiation**: `2 ** 3` equals `8`
6. **Modulo**: `10 % 3` equals `1`

In [2]:
# This is a simple arithmetic expression to multiply then add integers
result = (3 * 4) + 5
result

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60
hours = 200 / 60
hours

3.3333333333333335

## Author

Aufii Fathin Nabila